  body{
    background-image:url(./img/taner.jpg);
    background-size: auto;
}

  ul{
    display: flex;
    justify-content: center;
  }
  li{
    list-style: none;
    margin-left: 20px;
  }
   
  .navbar .nav-link.active{
       color: #31de79;
  }

  .nav-item> .nav-link::after {
    content:'';
    height: 2px;
    width: 0; 
    background-color: #31de79 !important ;
    margin: auto;
    display: block;
    }

  .nav-item> .nav-link:hover::after {
    transition: 0.2s linear;
    width:100%   
    }

    h5{
      font-family:'Montserrat', sans-serif ;
      color: #31de79;
      font-stretch:extra-expanded;
    }

    h1 {
      font-weight: 400;
      font-family: 'Montserrat', sans-serif;
    }


    .full-height {
        min-height:100vh;
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;

    }  

    h2,h4{
      font-weight: 300;
      font-family: 'Montserrat', sans-serif;
    }

    .bg-base {
      background-color:whitesmoke;

    }

    h6{
      font-weight: 400;
    }

    .btn {
      padding: 12px 24px;
      font-weight: 700;
      
    }    
    .btn-brand {
      color: white;
      background-color:#31de79;
      border-radius: 35px;
    }

    .btn-brand:hover,.btn-brand:focus {
      background-color: rgb(56, 195, 128);
    } 

    .text-body {
      font-family: 'Montserrat', sans-serif;
    }

    .shadow-effect {
      transition: all 0.5s;
    }

    .shadow-effect:hover {
      box-shadow: -6px 6px 0 0 #31de79 ;
    }

    .social-icons {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    }
  
    .social-icons img:hover{
      transform: translateY(-7px);
    }
