body{
    background-image:url(./taner.jpg);
    background-size: auto;
  } 
  ul{
    display: flex;
    justify-content: center;
  }
  li{
    list-style: none;
    margin-left: 20px;
  }
  .navbar .nav-link.active{
       color: #31de79;
  }
  .nav-item> .nav-link::after {
    content:'';
    height: 2px;
    width: 0; 
    background-color: #31de79 !important ;
    margin: auto;
    display: block;
  }
  .nav-item> .nav-link:hover::after {
    transition: 0.4s linear;
    width:100%   
  }
  h5{
     font-family:'Montserrat', sans-serif ;
     color: #31de79;
     font-stretch:extra-expanded;
  }
  .collapse{
    background-color:rgb(29, 52, 52)!important;
  }
  h1 {
      font-weight: 400;
      font-family: 'Montserrat', sans-serif;
  }
  .full-height {
      min-height:100vh;
      height:100%;
      display:flex;
      flex-direction: column;
      justify-content: center;
  }  
  h2,h4{
      font-weight: 300;
      font-family: 'Montserrat', sans-serif;
  }

  .bg-base {
      background-color:whitesmoke;
  }
  h6{
      font-weight: 400;
  }
  .btn {
      padding: 12px 24px;
      font-weight: 700;
  }    
  .btn-brand {
      color: white;
      background-color:#31de79;
      border-radius: 35px;
  }

  .btn-brand:hover,.btn-brand:focus {
      background-color: rgb(56, 195, 128);
  } 
  .text-body {
      font-family: 'Montserrat', sans-serif;
  }
  .shadow-effect {
      transition: all 0.5s;
  }

  .shadow-effect:hover {
      box-shadow: -6px 6px 0 0 #ffffff ;
      transform: translateY(-10px);
      background: linear-gradient(rgba(255, 255, 255, 1),#07d15b);
      
  }
  .social-icons {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .social-icons img:hover{
      transform: translateY(-7px);
  }
  .icon img:hover{
      transform: translateY(-7px)
  }
  .bases img:hover {
      transform: translateY(-7px);
  }

  form{
    background: #ffffff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    border-radius: 20px ;
  }
  form h4 {
    padding-top: 20px;
    padding-left: 40PX;
    font-weight: 600;
    font-family:'Montserrat', sans-serif;
  }
  form input, form textarea{
    background-color: rgb(174, 172, 172);
    padding-left: 10px;
    border: none;
    border-radius: 15px;
    margin: 10px 30px;
    padding: 20px;
    background: #f5f5f5;
    font-size: 14px;
    font-family:'Montserrat', sans-serif;
  }

  form button {
    background: #31de79;
    color: #fff;
    font-size: 20px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px 200px;
    border-radius: 30px;
  }
  
  form button:hover , form button:focus {
    background-color: rgb(56, 195, 128);
    color: black;
  }

  .g-col-12,h1 {
    padding-top: 20px;
    padding-bottom: 30px;
    margin: auto;
    
  }

  .leaf1{
    position: fixed;
    top:0px;
    right:50px;
    animation: fall 3s ease-in 0s infinite normal;
  }

   @keyframes fall {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(740px);
    }
  }
   .leaf2{
    position: fixed;
    top:0px;
    right:150px;
    animation: fall 4.5s ease-in 3.3s infinite normal;
  }

  .leaf2s{
    position: fixed;
    top:0px;
    right:250px;
    animation:fall 4s ease-in 1.6s infinite normal;
  }

  .leaf1s{
    position: fixed;
    top:0px;
    right:100px;
    animation:fall 4.2s ease-in 1.6s infinite normal;
  }

  .leaf2ss{
    position: fixed;
    top:0px;
    right:200px;
    animation:fall 5s ease-in 1.3s infinite normal;
  }
  
  @keyframes slideright {
    from{
      margin-right:20%
    }
    to{
      margin-right:0%
    }
  }
  
  @keyframes op {
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
  }

  .star1{
    position:absolute;
    top:200px;
    right:300px;
    height:5px;
    width:5px;
    border-radius: 50%;
    background-color:white;
    animation:blink 5s ease-in infinite;
  }
  .star2{
    position:absolute;
    top:500px;
    right:500px;
    height:3px;
    width:3px;
    border-radius: 50%;
    background-color: white;
    animation:blink 5s ease-in 0.3s infinite;
  }
     
  .star3{
    position:absolute;
    top:155px;
    right:800px;
    height:5px;
    width:5px;
    border-radius: 50%;
    background-color: white;
    animation:blink 5s ease-in  infinite;
    animation-delay: 0.2s;
  }   
  .star4{
    position:absolute;
    top:350px;
    right:1180px;
    height:2.5px;
    width:2.5px;
    border-radius: 50%;
    background-color: white;
    animation:blink 5s ease-in 0.7s infinite;
  }   
  .star5{
    position:absolute;
    top:500px;
    right:1400px;
    height:4px;
    width:4px;
    border-radius: 50%;
    background-color: white;
    animation:blink 5s ease-in 0.5 infinite;
  }     
  .star6{
    position:absolute;
    top:700px;
    right:900px;
    height:4px;
    width:4px;
    border-radius: 50%;
    background-color: white;
    animation:blink 5s ease-in 0.5s infinite;
  }  
  .Me{
    padding:10px;
    padding-right:0px;
    color:white;
  }

  .dvp{
    position:relative;
    color:#0e3742;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    line-height:0.70em;
    outline:none;
    animation:blink 1s linear infinite ;
  }

  @keyframes blink {
    from{
      color:#0e3742 ;
      box-shadow: none;
    }
    to{
      color:#fff;
      box-shadow: 0 0 10px #ffffff,
      0 0 20px #ffffff,
      0 0 40px #ffffff,
      0 0 80px #ffffff,
      0 0 160px #ffffff;
    }
  }
  .info{
    animation: 
    slideright 2s ease-in ,
    op 2s ease-in ;
  }
